<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mirimmedialab_ERP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
    <link href="css/style2.css" rel="stylesheet">
    <link rel="stylesheet" href="css/addUser.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<script>

</script>
<body>
    <div id="warpper">
        <header>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/mypage">마이 페이지</a></li>
                    <li><a href="#3">연차신청</a></li>
                    <li><a href="/useradd">회원가입</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h2>로그인정보</h2>
            <table>
                <tr>
                    <td>아이디<span style="color: orange">(필수)</span></td>
                    <td><input type="text" class="form-control" placeholder="아이디(필수)"></td>
                </tr>
                <tr>
                    <td>비밀번호<span style="color: orange">(필수)</span></td>
                    <td><input type="password" class="form-control" placeholder="비밀번호(필수)"></td>
                </tr>
                <tr>
                    <td>비밀번호 확인<span style="color: orange">(필수)</span></td>
                    <td><input type="password" class="form-control" placeholder="비밀번호 확인(필수)"></td>
                </tr>
            </table>
            <h2>개인정보</h2>
            <table>
                <tr>
                    <td>이름<span style="color: orange">(필수)</span></td>
                    <td><input type="text" class="form-control" placeholder="이름(필수)"></td>
                </tr>
                <tr>
                    <td>부서/직급<span style="color: orange">(필수)</span></td>
                    <td><input type="text" class="form-control" placeholder="ex)콘텐츠개발 3팀 사원"></td>
                </tr>
                <tr>
                    <td>입사 날짜<span style="color: orange">(필수)</span></td>
                    <td><input type="date" class="form-control" placeholder="비밀번호 확인(필수)"></td>
                </tr>
                <tr>
                    <td>전화번호(선택)</td>
                    <td><input type="text" class="form-control" placeholder="01054924191"></td>
                </tr>
            </table>
            <input type="submit" name="" id="" value="회원가입">
        </section>
        <footer>

        </footer>
    </div>
</body>
</html>